$greenone: rgb(19, 39, 39);
$greentwo: rgb(3, 43, 3);
$blueone: rgb(3, 3, 49);

* {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    body {
        background-color: $greenone;
        small {
            color: rgb(163, 163, 0);
        }
        .container {
            background-color: rgb(3, 3, 49);
            position: relative;
            main {
                background-color: $greentwo;
                height: 100vh;
                .boxes {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 5vw;
                    height: 100vh;
                    .box1 {
                        color: white;
                        border: 1px solid white;
                        border-radius: 5px;
                        width: 20vw;
                        height: 20vw;
                        .boxcover {
                            // height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                        }
                        img {
                            width: 10vw;
                            height: 10vw;
                        }
                        .boxcontent {
                            // background-color: yellow;
                            h1 {
                                font-size: 2vw;
                                text-align: center;
                            }
                            .line {
                                border: 1px solid white;
                                margin: 0 0 3vh 0;
                            }
                            img {
                                width: 5vw;
                                height: 5vw;
                                margin: 0 0 3vh 0;
                            }
                            p {
                                font-size: 1vw;
                            }
                        }
                    }
                    // BOX 2
                    .box2 {
                        color: white;
                        border: 1px solid white;
                        border-radius: 5px;
                        width: 20vw;
                        height: 20vw;
                        img {
                            width: 10vw;
                            height: 10vw;
                        }
                        .boxcontent {
                            // background-color: yellow;
                            h1 {
                                font-size: 2vw;
                                text-align: center;
                            }
                            .line {
                                border: 1px solid white;
                                margin: 0 0 3vh 0;
                            }
                            img {
                                width: 5vw;
                                height: 5vw;
                                margin: 0 0 3vh 0;
                            }
                            p {
                                font-size: 1vw;
                            }
                        }
                    }
                    .box3 {
                        color: white;
                        border: 1px solid white;
                        border-radius: 5px;
                        width: 20vw;
                        height: 20vw;
                        img {
                            width: 10vw;
                            height: 10vw;
                        }
                        .boxcontent {
                            // background-color: yellow;
                            h1 {
                                font-size: 2vw;
                                text-align: center;
                            }
                            .line {
                                border: 1px solid white;
                                margin: 0 0 3vh 0;
                            }
                            img {
                                width: 5vw;
                                height: 5vw;
                                margin: 0 0 3vh 0;
                            }
                            p {
                                font-size: 1vw;
                            }
                        }
                    }
                }
            }
        }
    }
}