// FONTS
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@900&display=swap');

$thegreen: rgb(4, 77, 4);
*{
    margin: 0;
    padding: 0;
    body {
        .container {
            background-color: $thegreen;
            color: white;
            img {
                width: 12vw;
                height: 12vw;
            }
            // COLUMN OF BOXES
            .boxes {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5vw;
                height: 100vh;
                // EACH BOX
                .box1 {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    border: 2px solid white;
                    border-radius: 10px;
                    width: 25vw;
                    height: 27vw;
                    position: relative;
                    // the Cover of box 1
                    .cover1 {
                        font-size: 1.5vw;
                        font-family: 'Julius Sans One', sans-serif;
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 3vh;
                        height: 100%;
                        width: 100%;
                        // transition: .5s;
                        background-color: $thegreen;
                        border-radius: 10px;
                        cursor: pointer;
                    }
                    .cover1:hover {
                        transition: 1s;
                        opacity: 0;
                    }

                }                    
                    // content of box 1
                    .content1 {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 2vw;
                        .logos {
                            display: flex;
                            justify-content: center;
                            gap: 2vw;
                            #bluelogo {
                                width: 5vw;
                                height: 5vw;
                            }
                        }
                        p {
                            font-size: 1.2vw;
                        }
                        a {
                            color: white;
                            #github {
                                height: 3vw;
                                width: 3vw;
                            }
                        }
                        // a::after {
                        //     content: "("attr(href)")";
                        //     cursor: pointer;
                        // }
                    }
                    // cover of box 2
                    .cover2 {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: $thegreen;
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        border-radius: 10px;
                        cursor: pointer;
                        // cc image
                        #createcollab {
                            margin-left: 1.5vw;
                            height: 3vw;
                            width: 22vw;
                        }
                    }
                    .cover2:hover {
                        transition: 1s;
                        opacity: 0;
                    }
                    // content of box 2
                    .content2 {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        text-align: center;
                        height: 100%;
                        gap: 2vw;
                        .logos {
                            display: flex;
                            justify-content: center;
                            gap: 2vw;
                            #yellowlogo {
                                width: 5vw;
                                height: 5vw;
                            }
                        }
                        p {
                            font-size: 1.2vw;
                        }
                        a {
                            color: white;
                            #github {
                                height: 3vw;
                                width: 3vw;
                            }
                        }
                    }
                    // cover of box 3
                    .cover3 {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        border-radius: 10px;
                        background-color: $thegreen;
                        height: 100%;
                        width: 100%;
                        cursor: pointer;
                        #msy {
                            height: 20vw;
                            width: 20vw;
                        }
                    }
                    .cover3:hover {
                        transition: 1s;
                        opacity: 0;
                    }
                    // content of box 3
                    .content3 {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        text-align: center;
                        height: 100%;
                        gap: 2vw;
                        .logos {
                            display: flex;
                            justify-content: center;
                            gap: 2vw;
                            #redlogo {
                                width: 5vw;
                                height: 5vw;
                            }
                        }
                        p {
                            font-size: 1.2vw;
                        }
                        a {
                            color: white;
                            #github {
                                height: 3vw;
                                width: 3vw;
                            }
                        }
                    }  
                }
            }
        }
    }
