@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@900&display=swap");
* {
  margin: 0;
  padding: 0;
}
* body .container {
  background-color: rgb(4, 77, 4);
  color: white;
}
* body .container img {
  width: 12vw;
  height: 12vw;
}
* body .container .boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  height: 100vh;
}
* body .container .boxes .box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 2px solid white;
  border-radius: 10px;
  width: 25vw;
  height: 27vw;
  position: relative;
}
* body .container .boxes .box1 .cover1 {
  font-size: 1.5vw;
  font-family: "Julius Sans One", sans-serif;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
  height: 100%;
  width: 100%;
  background-color: rgb(4, 77, 4);
  border-radius: 10px;
  cursor: pointer;
}
* body .container .boxes .box1 .cover1:hover {
  transition: 1s;
  opacity: 0;
}
* body .container .boxes .content1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vw;
}
* body .container .boxes .content1 .logos {
  display: flex;
  justify-content: center;
  gap: 2vw;
}
* body .container .boxes .content1 .logos #bluelogo {
  width: 5vw;
  height: 5vw;
}
* body .container .boxes .content1 p {
  font-size: 1.2vw;
}
* body .container .boxes .content1 a {
  color: white;
}
* body .container .boxes .content1 a #github {
  height: 3vw;
  width: 3vw;
}
* body .container .boxes .cover2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(4, 77, 4);
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}
* body .container .boxes .cover2 #createcollab {
  margin-left: 1.5vw;
  height: 3vw;
  width: 22vw;
}
* body .container .boxes .cover2:hover {
  transition: 1s;
  opacity: 0;
}
* body .container .boxes .content2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  gap: 2vw;
}
* body .container .boxes .content2 .logos {
  display: flex;
  justify-content: center;
  gap: 2vw;
}
* body .container .boxes .content2 .logos #yellowlogo {
  width: 5vw;
  height: 5vw;
}
* body .container .boxes .content2 p {
  font-size: 1.2vw;
}
* body .container .boxes .content2 a {
  color: white;
}
* body .container .boxes .content2 a #github {
  height: 3vw;
  width: 3vw;
}
* body .container .boxes .cover3 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 10px;
  background-color: rgb(4, 77, 4);
  height: 100%;
  width: 100%;
  cursor: pointer;
}
* body .container .boxes .cover3 #msy {
  height: 20vw;
  width: 20vw;
}
* body .container .boxes .cover3:hover {
  transition: 1s;
  opacity: 0;
}
* body .container .boxes .content3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  gap: 2vw;
}
* body .container .boxes .content3 .logos {
  display: flex;
  justify-content: center;
  gap: 2vw;
}
* body .container .boxes .content3 .logos #redlogo {
  width: 5vw;
  height: 5vw;
}
* body .container .boxes .content3 p {
  font-size: 1.2vw;
}
* body .container .boxes .content3 a {
  color: white;
}
* body .container .boxes .content3 a #github {
  height: 3vw;
  width: 3vw;
}/*# sourceMappingURL=style.css.map */